* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "poppins" sans-serif;
}
.container {
    padding: 10px 80px; 
    gap: 60px;
    display: flex;
}

.container h1 {
    font-size: 40px;
    margin: 30px 0;
    font-weight: 600;
}
.item p {
    font-size: 18px;
    color: rgb(102,102,102);
    font-weight: 500;
    line-height: 1.8;
    margin: 5px 0 10px;
}
.item h2 {
    font-size: 20px;
}
.container img {
    display: inline-grid;
    /* grid-template: subgrid; */
    margin: 30px 0;
    height: 400px;
    width: 100%;
}


@media (min-width: 0px) and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 50px; 
        align-items: center;
        gap: 0;
    }
    .item {
        margin: 20px 0;
    }
    .container h1 {
        font-size: 30px;
        margin: 30px 0;
        align-self: flex-start;
        font-weight: 600;
    }
    .item p {
        font-size: 16px;
        color: rgb(102,102,102);
        font-weight: 500;
        line-height: 1.8;
        margin: 5px 0 10px;
    }
    i {
        padding-bottom: 25px;
    }
    .item h2 {
        font-size: 18px;
    }
    .container img {
        margin: 30px 0;
        height: 300px;
        width: 100%;
        align-self: flex-start;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 70px; 
        align-items: flex-start;
        gap: 0;
    }
    .item {
        margin: 20px 0;
    }
    .container h1 {
        font-size: 30px;
        margin: 30px 0;
        align-self: flex-start;
        font-weight: 600;
    }
    .item p {
        font-size: 16px;
        color: rgb(102,102,102);
        font-weight: 500;
        line-height: 1.8;
        margin: 5px 0 10px;
    }
    i {
        padding-bottom: 25px;
    }
    .item h2 {
        font-size: 18px;
    }
    .container img {
        margin: 30px 0;
        height: 400px;
        width: 100%;
    }
}
